div.graph-frame {

}

div.graph-canvas {
}

div.graph-axis {
    border-color: #bfbfbf;
    border-width: 1px;
}
div.graph-axis-vertical {
}
div.graph-axis-grid {
    border-width: 1px;
}
div.graph-axis-grid-minor {
    border-color: #999999;
    filter: alpha(opacity=25);
    opacity: 0.25;
}
div.graph-axis-grid-major {
    border-color: black;
    filter: alpha(opacity=25);
    opacity: 0.25;
}
div.graph-axis-grid-vertical {
    border-color: black;
    filter: alpha(opacity=25);
    opacity: 0.25;
}
div.graph-axis-button-menu {
    left: 10px;
    top: 10px;
}
div.graph-axis-button {
    color: white;
    background-color: lightgray;
    width: 16px;
    height: 16px;
    text-align: center;
    font-size: 13px;
    border-radius: 2px;
    margin-right: 5px;
    margin-bottom: 5px;
    cursor: pointer;
    line-height: 16px;
}
div.graph-axis-button:hover {
    background-color: gray;
}

div.graph-background-area {
    position: absolute;
    left: 0;
    top: 0;
    width: 50%;
    height: 0;
}

div.graph-axis-text {
    padding: 3px;
    color: #4D4D4D;
}

div.graph-axis-text-minor {
}
div.graph-axis-text-major {
}
div.graph-axis-text-vertical {
    padding-right: 10px;
}

div.graph-legend {
    border: 1px solid #bfbfbf;
}
div.graph-legend-item {
    color: #4D4D4D;
    margin: 5px;
}

div.graph-tooltip-dot {
    position: absolute;
    width: 0;
    height: 0;
    margin-left: -4px;
    margin-top: -4px;
    border: 4px solid #4d4d4d;
    border-radius: 4px;
}

div.graph-tooltip-label {
    position: absolute;
    background-color: white;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid #bfbfbf;
    border-radius: 1px;
    box-shadow: 0 0 15px rgba(128, 128, 128, 0.2);
    padding: 5px;
    color: #4d4d4d;
}

div.graph-tooltip-label table {
    width: 200px;
}

div.graph-tooltip-label td {
    vertical-align: top;
}