#borde {
    border: 1px groove #ddd !important;
    margin: 7px;
}
#borde2 {
    border: 1px groove #ddd !important;
    margin: 7px;
    padding: 11px;
}
.input-group-addon:last-child {
  border-left: 0;
  width: 14px;
}