
#seccion1{ z-index:2;float: right;top:-15px;
			background: rgba(0, 0, 0, 0.5);
			border-radius: 10px;
           list-style-type: none; position: relative; right: 0px; display: block; margin-left: auto;
	margin-right: auto; }
	#seccion2{ z-index:2;float: right;top:-15px;
	background: rgba(0, 0, 0, 0.5);
			border-radius: 10px;
           list-style-type: none; position: relative; left: -5px; display: block; margin-left: auto;
	margin-right: auto; }
#subseccion1 { position:absolute; right: 0px;  
             font:normal 0.8em arial;  
             padding: 0.2em 0.5em ; display: none; }
			 
#subseccion2 { position:absolute; right: 0px;  
             font:normal 0.8em arial;  
             padding: 0.2em 0.5em ; display: none;}
#map_canvas {z-index:1;  top:0px;
                position : fixed !important; 
                right : 0; 
                bottom :0px !important;  
                left : 0 !important;
				}
#navegador{top: 0px;
		background: transparent;
		bottom: 1000px;
		margin-left: auto;
		margin-right: auto;	
		}
		
#secciongraficos{ z-index:2;float: right;top:-15px;
			background: rgba(0, 0, 0, 0.5);
			border-radius: 10px;
           list-style-type: none; position: relative; right: 0px; display: block; margin-left: auto;
	margin-right: auto; }
#subsecciongraficos { position:absolute; right: 0px;  
             font:normal 0.8em arial;  
             padding: 0.2em 0.5em ; display: none; }	
		
		
.cerrar{
float: right;
}	









.boton{
float: right;
}		





.imagen1{
  max-width: auto;
  max-height: auto;
  float:rigth;
}








