.accordion-container {
	width: 50%;
	margin: 0 0 20px;
	clear: both;
}
.accordion-toggle {
	position: relative;
	display: block;
	padding: 20px;
	font-size: 0.9em;
	font-weight: 300;
	background: #999;
	color: #fff;
	text-decoration: none;
	height:30px
}
.accordion-toggle.open {
	background: #333;
	color: #fff;
	height:30px
}
.accordion-toggle:hover {
	background: #666;
}
.accordion-toggle span.toggle-icon {
	position: absolute;
	top: 9px;
	right: 20px;
	font-size: 1.5em;
}
.accordion-content {
	display: none;
	padding: 0px;
	overflow: auto;
}

 
/* media query for mobile */
@media (max-width: 767px) {
	.accordion-content {
		padding: 10px 0;
		overflow: inherit;
	}
}
body {
background:url(imgindex2.jpg) no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}
img {
    /* vertical-align: middle; */
    height: 20px;
    position: relative;
    float: right;
    top: -6px;
}